

.start{
  background: url("./assets/Decore.png");
}

.slider {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
}

.slide {
  width: 100%;
  height: auto;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 996px){


}

@media (max-width: 768px) {
  /* Hero section */
  .hero_sect{
flex-wrap: wrap;
  }
  .hero_first{
    min-width: 100%;
  }
}
@media(max-width: 412px){
  .hero_sect .hero_first{
    min-width: 412px;
    margin: 0;
    padding: 10px;
  }
  .navbar_big{
    background-color: red;
  }
}
/* SUBSCRIBE SECTION */
.subscribe{
  background: #b4a4e8;
opacity: 0.8;
border-radius: 120px 29px 20px 20px;
/* transform: matrix(-1, 0, 0, 1, 0, 0); */
width: 80%;
}
.underline-coor::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: red;
}